body{
  //font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;/*
  font-family: 'Vast Shadow', cursive;
  font-family: 'Goblin One', cursive;
  font-family: 'Gravitas One', cursive;
  font-family: 'Ultra', serif;  */
  color: #333;
}
.cld-number{
  font-family: 'Vast Shadow', cursive;
  font-size: 4.7em;  
}
.cld-number.eventday{
  font-family: 'Roboto Condensed', sans-serif;
}

.cld-main{
  width: 98%;
  margin: 0 auto;
}
.cld-main a{
  color: #7B00FF;
}
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }

  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
  }
  li.cld-label:nth-child(odd){
    background: #eee;
  }
 /*
  li.cld-day:nth-child(7n+1),
  li.cld-day:nth-child(7n+3),
  li.cld-day:nth-child(7n+6){
    background: #ddd;
  }
*/
li.cld-day:nth-child(7n){
  background: #ccc;
}
li.cld-day:nth-child(7n+1){
  background: #bbb;
  border-left: 4px solid #888;
  border-right: 4px solid #888;
}

  .cld-label{
    font-size: 2.2em;
    font-weight: 800;
  }
  .cld-day{
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 5px;
    height: 7em;
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #7a7a7a;
    border-right: 1px solid #aaa;
    border-left: 1px solid #555;
    overflow-y: auto;
  }
  .cld-day.clickable:hover{
    cursor: pointer;
  }
  .cld-day.today{
    border: 1px solid #7B00FF;
  }
  .cld-day.disableDay{
    opacity: 0.5;    
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      margin: 0;
      text-align: center;      
    }
      .cld-title{
        font-size: 14px !important;
        display: block;
        margin: 0;
        font-weight: normal;
        float: right;
        margin-left: 7px;
      }
      .cld-title:before{
        content: ' \2605';
      }

      .cld-day:hover{
        background: #eee;
      }
      .cld-number.eventday{
        font-weight: bold;
        font-size: 2.5em;
        text-align: left;
      }
      .cld-number.eventday:hover{
        background: #eee;
      }
      .today .cld-number.eventday:hover{
      }
      @media print{
        .cld-main{
          width: 99%;
          margin: 0 auto;
          padding-top: 0.8em;          
        }
        .cld-datetime{
          margin: 0;
        }
        .cld-day.nextMonth{
          border-bottom: 1px solid #555;
        }
      }